
.details-container{
    width:25%;
    margin-top:2%;
    margin-bottom:2%;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
}

.creator-container{
    width:100%;
    margin-bottom:2%;
    border:1px solid #dedede;
    border-radius: 10px;
    height:50%;
    padding:2%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.creator-info-container{
    width:100%;
    margin-bottom:3%;
    display:flex;
    justify-content: space-between;
}

.creator-left{
    width:70%;
    display:flex;
    align-items: center;
}

.creator-left-inner{
    margin-left:3%;
    width:100%;
}

.creator-name{
    font-weight: 700;
    font-size:16px;
    margin-bottom: 2%;
}

.creator-reviews{
    display:flex;
    align-items: center;
    width:100%;
}

.creator-rating{
    font-weight: 700;
    font-size:15px;
    margin-left:4%;
    margin-right:4%;
}

.creator-num{
    color:grey;
    font-size:13px;
}

.creator-right{
    display:flex;
    align-items: flex-start;
    width:30%;
    justify-content: center;
}

.trusted-text{
    margin-left:3%;
    font-weight: 700;
    font-size:14px;
}

.other-button{
    width:70%;
    height:40px;
    border-radius: 15px;
    margin-bottom:1%;
    background-color:#f4f4f4;
    font-weight: 700;
    border:none;
}

.other-button:hover{
    cursor:pointer;
    opacity:0.8;
}

.favorite-button-before {
    width:70%;
    height:40px;
    border-radius: 15px;
    margin-bottom:1%;
    background-color:#f4f4f4;
    font-weight: 700;
    border:none;
  }

  .favorite-button-before:hover {
    cursor:pointer;
    opacity:0.8;
  }

  .favorite-button-after {
    width:70%;
    height:40px;
    border-radius: 15px;
    margin-bottom:1%;
    background-color:#FF8B8B;
    font-weight: 700;
    border:none;
  }

  .favorite-button-after:hover {
    cursor:pointer;
    opacity:0.8;
  }

.contact-button{
    width:70%;
    height:40px;
    border-radius: 15px;
    margin-bottom:1%;
    background-color: #8ba5ff;
    font-weight: 700;
    border:none;
}

.contact-button:hover{
    cursor:pointer;
    opacity:0.8;
}

.report-button{
    width:70%;
    height:40px;
    border-radius: 15px;
    margin-bottom:1%;
    background-color: #FF8B8B;
    font-weight: 700;
    border:none;
}

.report-button:hover{
    cursor:pointer;
    opacity:0.8;
}

.description-container{
    background-color:#fafafa;
    width:100%;
    border:1px solid #dedede;
    border-radius: 10px;
    height:50%;
    padding:3% 5%;
    display:flex;
    flex-direction: column;
}

.description-title{
    font-size:20px;
    font-weight: 700;
    margin-bottom:3%;
}

.description-views-container{
    margin-top:8%;
    display:flex;
    align-items: center;
}

.description-views{
    margin-left:5%;
    color:#97aefd;
    font-weight: 700;
    font-size:20px;
}

#report_text {
    color: #FF8B8B;
}


@media screen and (max-width:700px) {    
    .details-container{
        width:95%;
    } 

}

@media screen and (min-width:701px) and (max-width:1100px) {    
    .creator-info-container{
        flex-direction: column;
    }

    .creator-left{
        width:100%;
    }

    .creator-right{
        width:100%;
    }

}

@media screen and (min-width:701px) and (max-width: 1300px)  {
    .details-container{
        width:33%;
    }


    
}