.create_ad {
    display: flex;
    flex-direction: column;
}

.ad_section {
    display: flex;
    flex-direction: row;

    margin: 1vw;
}

.ad_main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 48%;
    padding: 0.5vw 0;
    margin-left: 15%;

    border: 2px solid var(--element_stroke);
    border-radius: 5px;

    background-color: #FAFAFA;
}

.ad_main textarea {
    min-height: 17vh;
    height: 20vh;
    max-height: 50vh;

    padding-top: 10px;
    resize: vertical;
}

.ad_images {
    width: 95%;
    height: 26vh;

    margin: 0.2vw 0;
    overflow-y: auto;
    
    border-radius: 5px;
    border: 1px solid var(--element_stroke);

    background-color: white;
}

.ad_images img{  
    height: 90%;
    width: auto;
    
    margin: 0.2vw;
    margin-left: 10px;
    
    border-radius: 5px;
    border: 2px solid black;
}

.ad_images p {
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    color: var(--secondary_text);
}

#upload_button {
    display: inline-block;
    height: 80%;
    width: 100px;
    margin: 0.4vw;
    margin-left: 10px;

    background-color: #f1f1f1;
    background-image: url("../assets/add.png");
    background-repeat: no-repeat;
    background-position: center;
}

#upload_button:hover {
    opacity: 0.8;
    border: 1px solid var(--element_stroke);
    cursor: pointer;
}

.input_field {
    width: 95%;
    height: 2vw;

    margin: 0.2vw 0;
    padding-left: 10px;

    border-radius: 5px;
    border: 1px solid var(--element_stroke);

    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;

    color: var(--secondary_text);
}

.input_field::placeholder {
    color: var(--secondary_text);
}

.ad_side {
    width: 20%;
    margin-left: 2%;
}

.price_section {
    width: 95%;
    padding-left: 10px;
    margin: 0.2vw 0;

    background-color: #FAFAFA;
    border: 2px solid var(--element_stroke);
    border-radius: 5px;
}

.price_section p {
    color: var(--secondary_text);
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-top: 0.2vw;
}

.price_swap_section {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2vw;
    align-items: center;
}

.input_field_price {
    width: 50%;
    height: 1.5vw;

    margin: 0.2vw 0.2vw;
    padding-left: 10px;

    border-radius: 5px;
    border: 1px solid var(--element_stroke);

    font-family: Inter, sans-serif;
    font-size: 0.7rem;
    font-weight: 500;

    color: var(--secondary_text);
}

.input_field_swap {
    width: 70%;
    height: 1.5vw;

    margin: 0.2vw 0.2vw;
    margin-right: 0.4vw;
    padding-left: 10px;

    border-radius: 5px;
    border: 1px solid var(--element_stroke);

    font-family: Inter, sans-serif;
    font-size: 0.7rem;
    font-weight: 500;

    color: var(--secondary_text);
}

.post_button {
    width: 15%;
    height: 2.7vw;
    padding: 0 1.4vw;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.3rem;
    font-weight: 700;

    border: none;
    border-radius: 7px;

    background-color: var(--button_background);
}

.field_error {
    background-color: rgb(246, 180, 180);
}