.ad_overview {
    display: flex;
    flex-direction: column; /* Stack elements vertically on mobile */
    width: 100%;
    background-color: #ffffff; /* Light background for a clean look */
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden; /* A clean border-radius effect */
    position: relative;
}

.ad_images {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ad_images img {
    max-height: 150px;
    width: auto;
    object-fit: cover;
    margin: 5px;
    border-radius: 8px; /* Rounded corners for images */
}

.ad_information {
    padding: 20px;
    background-color: #f8f9fa; /* Slightly different background for separation */
}

.ad_information h2 {
    margin: 0 0 10px 0;
    font-size: 1.6rem;
    color: #333333;
    font-weight: bold; /* Bold title */
}

.ad_price {
    font-size: 1.4rem;
    color: #8ba5ff; /* Use a highlight color */
    font-weight: 500;
    margin-bottom: 10px;
}

.ad_description {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 15px;
}

.ad_actions {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    position: absolute;
    gap: 10px;
    bottom: 10px; /* Positioned at the bottom */
    right: 10px; /* Positioned to the right */
}

.ad_actions button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: #8ba5ff;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.ad_actions button:hover {
    background-color: #8ba5ff; /* Darker on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
    .ad_overview {
        flex-direction: row;
    }

    .ad_images {
        flex: 1;
        flex-wrap: nowrap;
    }

    .ad_information {
        flex: 3;
    }

    .ad_actions {
        flex-direction: row; /* Horizontal button layout */
        position: absolute; /* Keep the position absolute */
        bottom: 10px;
        right: 10px;
    }

    .ad_actions button {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .ad_actions {
        position: static; /* Align buttons below the text */
        width: 100%; /* Span the full width */
    }

    .ad_actions button {
        width: 100%; /* Make each button span the full width */
        margin-right: 0; /* Reset margin */
    }
}
