.admin_content_container {
    width: 100%;
    margin-left: 25%;
    margin-top: 2%;
    margin-right: 5%;
}

.admin_content_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin_sort_select {
    width: 20%;
    font-size: 1vw;
}

.admin_report_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (orientation: portrait) {
    .admin_content_container {
        width: auto;
        margin-left: 5%;
    }
    .admin_content_top h1 {
        font-size: 2vw;
    }
    .admin_sort_select {
        width: 30%;
        font-size: 1.8vw;
    }
}