.report_container {
    display: flex;
    flex-direction: row;

    width: 100%;
    border-radius: 15px;
    background-color: var(--element_background);
    border: 2px solid var(--element_stroke);

    box-sizing: border-box;
    padding: 1%;
    margin: 20px 0px;
}

.report_left_container {
    width: 65%;
    display: flex;
    flex-direction: row;
}

.report_image {
    height: 20vh;
    width: 30%;
    object-fit: contain;
}

.report_post_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1%;
}

.report_post_top_info {
    display: flex;
    flex-direction: column;
}

.report_post_title {
    margin: 0.3% 0;
    font: 600 1.25vw Inter, sans-serif;
}

.report_post_price {
    margin: 0.3% 0;
    font: 600 1.25vw Inter, sans-serif;
    color: var(--button_background);
}

.report_post_description {
    margin: 0.3% 0;
    font: 400 1.1vw Inter, sans-serif;
    word-wrap: break-word;
}

.report_post_bottom_info p {
    margin: 0;
    font: 400 1vw Inter, sans-serif;
    color: var(--secondary_text);
}

.report_horizontal_line {
    display: none;
    height: 2px;
    min-width: 100%;
    margin: 1% 0;
    background-color: var(--element_stroke);
}

.report_verticle_line {
    width: 2px;
    min-width: 2px;
    min-height: 100%;
    margin: 0 0.5%;
    background-color: var(--element_stroke);
}

.report_right_container {
    display: flex;
    flex-direction: row;
}

.report_post_data {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0.5%;
}

.report_action_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5%;
}

.report_action_buttons {
    display: flex;
    flex-direction: column;
}

.report_action_buttons button {
    width: fit-content;
    border: none;
    background-color: transparent;

    color: var(--button_background);
    font: 500 1.15vw Inter, sans-serif;

    margin: 5% auto;
}

.report_action_buttons button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.report_delete_action {
    width: fit-content;
    border: none;
    background-color: transparent;

    color: #FF8B8B;
    font: 500 1.15vw Inter, sans-serif;

    margin: 5% auto;
}

.report_delete_action:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (orientation: portrait) {
    .report_container {
        flex-direction: column;
    }
    .report_left_container {
        width: 100%;
    }
    .report_image {
        width: 20%;
        height: auto;
    }
    .report_post_title, .report_post_price {
        font-size: 3vw;
    }
    .report_post_description {
        font-size: 2.5vw;
    }
    .report_post_bottom_info p{
        font-size: 2vw;
    }

    .report_horizontal_line {
        display: block;
    }
    .report_right_container {
        width: 100%;
    }
    .report_post_data {
        width: 80%;
    }
    .report_action_buttons {
        margin-bottom: 1vh;
    }
    .report_action_buttons button, .report_delete_action {
        margin: .3vh auto;
        font-size: 2vw;
    }
}