.report_container {
    display: flex;
    flex-direction: row;

    width: 100%;
    border-radius: 15px;
    background-color: var(--element_background);
    border: 2px solid var(--element_stroke);

    box-sizing: border-box;
    padding: 1%;
    margin: 20px 0px;
}

.report_image {
    height: 20vh;
    max-width: 18%;
    object-fit: contain;
}

.report_post_info {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1%;
}

.report_post_top_info {
    display: flex;
    flex-direction: column;
}

.report_post_title {
    margin: 0.3% 0;
    font: 600 1.2rem Inter, sans-serif;
}

.report_post_price {
    margin: 0.3% 0;
    font: 600 1.2rem Inter, sans-serif;
    color: var(--button_background);
}

.report_post_description {
    margin: 0.3% 0;
    font: 400 1rem Inter, sans-serif;
}

.report_post_bottom_info p {
    margin: 0;
    font: 400 0.9rem Inter, sans-serif;
    color: var(--secondary_text);
}

.report_verticle_line {
    width: 2px;
    min-height: 100%;
    margin: 0 0.5%;
    background-color: var(--element_stroke);
}

.report_post_data {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0.5%;
}

.report_action_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5%;
}

.report_action_buttons {
    display: flex;
    flex-direction: column;
}

.report_action_buttons button {
    width: fit-content;
    border: none;
    background-color: transparent;

    color: var(--button_background);
    font: 500 1rem Inter, sans-serif;

    margin: 5% auto;
}

.report_action_buttons button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.report_delete_action {
    width: fit-content;
    border: none;
    background-color: transparent;

    color: #FF8B8B;
    font: 500 1rem Inter, sans-serif;

    margin: 5% auto;
}

.report_delete_action:hover {
    cursor: pointer;
    text-decoration: underline;
}