.register_page {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

.register_page h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 25px;
    font-weight: 800;
}

.register_page form {
    display: flex;
    flex-direction: column;
}

.register_page label {
    display: block;
    margin-bottom: 0.5rem;
    color: #4A4A4A;
    font-size: 20px;
    font-weight: 500;
}

.register_page input {
    width: 95%; /* Temporary fix, need to come back and adjust */
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #D7DEFA;
    border: 1px solid #8BA5FF;
    border-radius: 4px;
    font-size: 16px;
}

.register_page .password-requirements {
    color: red;
    font-size: 12px;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.register_page .register-button {
    background-color: #8BA5FF;
    color: black;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.register_page .register-button:hover {
    background-color: #003d82;
    color:white;
}

.register_page .register-button:disabled {
    background-color: #cccccc;
    cursor:pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

/* Enable when allowing users to register (add to disabled button disabled={!validPassword || password !== confirmPassword}) */

/*.register_page .register-button:disabled {*/
/*    background-color: #cccccc;*/
/*    cursor: default;*/
/*}*/

.register_page .login-text {
    text-align: center;
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 500;
}

.register_page a {
    color: #4A4A4A;
    text-decoration: none;
}

.register_page a:hover,
.register_page a:focus {
    text-decoration: underline;
}
